<table class="ttt-board">
  <tbody>
    <tr>
      <td>
        <div class="square top left end-state">
          <%= visible_space(@game_state[:board_state][0]) %>
        </div>
      </td>
      <td>
        <div class="square top end-state">
          <%= visible_space(@game_state[:board_state][1]) %>
        </div>
      </td>
      <td>
        <div class="square top right end-state">
          <%= visible_space(@game_state[:board_state][2]) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="square left end-state">
          <%= visible_space(@game_state[:board_state][3]) %>
        </div>
      </td>
      <td>
        <div class="square end-state">
          <%= visible_space(@game_state[:board_state][4]) %>
        </div>
      </td>
      <td>
        <div class="square right end-state">
          <%= visible_space(@game_state[:board_state][5]) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="square bottom left end-state">
          <%= visible_space(@game_state[:board_state][6]) %>
        </div>
      </td>
      <td>
        <div class="square bottom end-state">
          <%= visible_space(@game_state[:board_state][7]) %>
        </div>
      </td>
      <td>
        <div class="square bottom right end-state">
          <%= visible_space(@game_state[:board_state][8]) %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
