<table>
  <tbody>
    <tr>
      <td>
        <div data-position="1" class="square top left">
          <%= visible_space(@game_state[:board_state][0]) %>
        </div>
      </td>
      <td>
        <div data-position="2" class="square top">
          <%= visible_space(@game_state[:board_state][1]) %>
        </div>
      </td>
      <td>
        <div data-position="3" class="square top right">
          <%= visible_space(@game_state[:board_state][2]) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div data-postion="4" class="square left">
          <%= visible_space(@game_state[:board_state][3]) %>
        </div>
      </td>
      <td>
        <div data-postion="5" class="square">
          <%= visible_space(@game_state[:board_state][4]) %>
        </div>
      </td>
      <td>
        <div data-postion="6" class="square right">
          <%= visible_space(@game_state[:board_state][5]) %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div data-postion="7" class="square bottom left">
          <%= visible_space(@game_state[:board_state][6]) %>
        </div>
      </td>
      <td>
        <div data-postion="8" class="square bottom">
          <%= visible_space(@game_state[:board_state][7]) %>
        </div>
      </td>
      <td>
        <div data-postion="9" class="square bottom right">
          <%= visible_space(@game_state[:board_state][8]) %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
