<table>
  <tbody>
    <tr>
      <td>
        <a href="/game/1" class="square top left">
          <%= visible_space(@game_state[:board_state][0]) %>
        </a>
      </td>
      <td>
        <a href="/game/2" class="square top">
          <%= visible_space(@game_state[:board_state][1]) %>
        </a>
      </td>
      <td>
        <a href="/game/3" class="square top right">
          <%= visible_space(@game_state[:board_state][2]) %>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/game/4" class="square left">
          <%= visible_space(@game_state[:board_state][3]) %>
        </a>
      </td>
      <td>
        <a href="/game/5" class="square">
          <%= visible_space(@game_state[:board_state][4]) %>
        </a>
      </td>
      <td>
        <a href="/game/6" class="square right">
          <%= visible_space(@game_state[:board_state][5]) %>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="/game/7" class="square bottom left">
          <%= visible_space(@game_state[:board_state][6]) %>
        </a>
      </td>
      <td>
        <a href="/game/8" class="square bottom">
          <%= visible_space(@game_state[:board_state][7]) %>
        </a>
      </td>
      <td>
        <a href="/game/9" class="square bottom right">
          <%= visible_space(@game_state[:board_state][8]) %>
        </a>
      </td>
    </tr>
  </tbody>
</table>
